<div class="right-side-title">
  <span *ngIf="!sprintId">Task List</span>

  <div *ngIf="sprintInfo" class="sprint-info">
    <div>
      <span>{{sprintInfo.name}}</span>
      <p *ngIf="sprintInfo.description" class="sprint-description">{{sprintInfo.description}}</p>
    </div>
    <div class="sprint-dates">
      <span *ngIf="sprintInfo.dateOfStart && !sprintInfo.dateOfEnd">
        Date of start: {{sprintInfo.dateOfStart | date:'dd/MM/yyyy'}}
      </span>

      <span *ngIf="!sprintInfo.dateOfStart && sprintInfo.dateOfEnd">
        Date of end: {{sprintInfo.dateOfEnd | date:'dd/MM/yyyy'}}
      </span>

      <span *ngIf="sprintInfo.dateOfStart && sprintInfo.dateOfEnd">
        {{sprintInfo.dateOfStart | date:'dd/MM/yyyy'}} - {{sprintInfo.dateOfEnd | date:'dd/MM/yyyy'}}
      </span>
    </div>
  </div>
</div>

<div class="toggle-block">
  <div class="button-after-page-title">
    <a mat-raised-button class="link-button button-accept" (click)="modalCreateTask()">
        <mat-icon aria-hidden="false" aria-label="Example home icon">queue</mat-icon>
        <span>Create Task</span>
    </a>
  </div>
  <div class="toggle-button">
    <div (click)="accordion.closeAll()">Collapse All</div>
  </div>
</div>
<mat-accordion multi>
  <div *ngFor="let user of workspaceUserList; let i = index">
    <app-workspace-user-task-list [user]="user" [workspaceId]="workspaceId" [sprintId]="sprintId" [index]="i"></app-workspace-user-task-list>
  </div>
</mat-accordion>
