<div class="container">
  <div class="form-section">
      <div class="form-block">
          <div class="w-100 mb-20">
              <h1 class="registration_title">PROVIS</h1>
              <p class="registration_text">Best Task Manager</p>
          </div>

          <form class="login-form" [formGroup]="resetPasswordForm">
            <div>
                <p class="form-title">Password recovery</p>

                <p class="code-info">Code for password recovery was sent on your email</p>

                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="Your email" #email maxlength=50 formControlName="email" readonly>
                    <mat-error *ngIf="resetPasswordForm.controls['email'].invalid && resetPasswordForm.controls['email'].touched">Invalid email</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Password</mat-label>
                  <input type="password" matInput  #password maxlength=50 formControlName="newPassword" required>
                  <mat-error class="password-error" 
                     *ngIf="resetPasswordForm.controls['newPassword'].invalid &&  
                    resetPasswordForm.controls['newPassword'].touched">Password is not strong enough and it must be at least 8 characters long.
                  </mat-error>
                </mat-form-field >

                <mat-form-field appearance="fill">
                  <mat-label>Re-type Password</mat-label>
                  <input type="password" matInput  #ConfirmPassword maxlength=50 formControlName="confirmPassword" required>
                  <mat-error *ngIf="resetPasswordForm.controls['confirmPassword'].invalid && resetPasswordForm.controls['confirmPassword'].touched &&
                  resetPasswordForm.controls['confirmPassword'].errors!['confirmPasswordValidator']">Please make sure your passwords match</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Code</mat-label>
                  <input type="text" matInput placeholder="Your recovery code" formControlName="code" required>
                  <mat-error *ngIf="resetPasswordForm.controls['code'].invalid && resetPasswordForm.controls['code'].touched">Required</mat-error>
                </mat-form-field>

                <button mat-raised-button class="w-100 font-weight-600" (click)="resetPassword()">Recovery</button>

                <div class="back-link">
                  <a href="./"><span class="material-icons">navigate_before</span>
                      Home
                  </a>
                  <a href="./login">Login
                      <span class="material-icons">navigate_next</span>
                  </a>
                </div>
            </div>
          </form>
      </div>
  </div>
</div>
