<div>
  <span>
    <button [disabled]= isOwner
      mat-raised-button class="warning" (click)="leave()">Leave</button>
  </span>
  <iframe src="http://localhost:3000/d-solo/o2AWvl1nz/grafana-provis?orgId=1&var-workspace=8&panelId=4&refresh=15s" width="100%" height="400" frameborder="0"></iframe>
  <iframe src="http://localhost:3000/d-solo/o2AWvl1nz/grafana-provis?orgId=1&var-workspace=8&refresh=15s&panelId=6" width="20%" height="200" frameborder="0"></iframe>
  <iframe src="http://localhost:3000/d-solo/o2AWvl1nz/grafana-provis?orgId=1&var-workspace=8&panelId=8&refresh=15s" width="80%" height="200" frameborder="0"></iframe>
</div>
