<div class="header-section">
  <header style="padding: 15px 40px !important;">
      <div class="nav-menu">
          <mat-grid-list class="justify-space-between" cols="2" rowHeight="50px">
              <mat-grid-tile class="grid-content-left">
                  <div class="left">
                      <a href="./">
                          <span class="logo-title">PROVIS </span>
                      </a>
                  </div>
              </mat-grid-tile>
                  
              <mat-grid-tile class="grid-content-right">
                  <div class="right">
                      <ul class="d-flex ">
                          <li>
                              <a href="./about" class="">About US</a>
                          </li>
                          <li>
                              <a href="./contact"  class="">Contact</a>
                          </li>
                          <li>
                              <a href="./login" class="">Login</a>
                          </li>
                          <li>
                              <a href="./registration" class="sign-up">Sign Up</a>
                          </li>
                      </ul>
                  </div>
              </mat-grid-tile>
          </mat-grid-list>
      </div>
  </header>


  
</div>