.container {
    background: linear-gradient(0deg,#3f3c52 0%,#161518 100%);
}
.login-form {
    background: white;
    border-radius: 10px;
    width: 100%;
  }
form.login-form .mat-form-field {
    width: 100%;
    margin:5px auto;
}
