<section class="footer">
  <div class="footer-block">
      <mat-grid-list cols="4" rowHeight="150px">
          <mat-grid-tile class="grid-align-start">
             <div class="footer-cart">
                  <h4 class="footer-title">Some Text</h4>
                  <ul class="d-flex footer-text">
                      <li>
                          <a href="./about" class="">About US</a>
                      </li>
                      <li>
                          <a href="./contact" class="">Contact</a>
                      </li>
                      <li>
                          <a href="./registration" class="">Registration</a>
                      </li>
                  </ul>
             </div>
          </mat-grid-tile>
          <mat-grid-tile class="grid-align-start">
              <div class="footer-cart">
                  <h4 class="footer-title">Suport</h4>
                  <ul class="d-flex footer-text">
                      <li>
                          <a href="#" class="">Terms of service</a>
                      </li>
                      <li>
                          <a href="#" class="">Privacy policy</a>
                      </li>
                      <li>
                          <a href="#" class="">Cookies</a>
                      </li>
                  </ul>
             </div>
          </mat-grid-tile>
          <mat-grid-tile class="grid-align-start">
              <div class="footer-cart">
                  <h4 class="footer-title">Useful links</h4>
                  <ul class="d-flex footer-text">
                      <li>
                          <a href="#" class="">link 1</a>
                      </li>
                      <li>
                          <a href="#" class="">link 2</a>
                      </li>
                      <li>
                          <a href="#" class="">link 3</a>
                      </li>
                  </ul>
             </div>
          </mat-grid-tile>
          <mat-grid-tile class="grid-align-start">
              <div class="footer-cart">
                  <h4 class="footer-title">Social link</h4>
                  <ul class="d-flex social-icon-block" >
                      <li>
                          <a href="#" class="social-icon">
                              <img src="assets/img/facebook_icon_b.svg" alt="">
                          </a>
                      </li>
                      <li>
                          <a href="#" class="social-icon">
                              <img src="assets/img/linkedin_icon_b.svg" alt="">
                          </a>
                      </li>
                      <li>
                          <a href="#" class="social-icon">
                              <img src="assets/img/twitter_icon_b.svg" alt="">
                          </a>
                      </li>
                      <li>
                          <a href="#" class="social-icon">
                              <img src="assets/img/instagram_icon_b.svg" alt="">
                          </a>
                      </li>
                  </ul>
             </div>
          </mat-grid-tile>
      </mat-grid-list>
  </div>
  <div class="copyright">© Promis 2021. All rights reserved</div>
</section>
