<header class="user-header">
  <div class="nav-menu " >
    <mat-grid-list class="justify-space-between" cols="2" rowHeight="50px">
      <mat-grid-tile class="grid-content-left">
        <div class="left">
          <a href="./">
            <span class="logo-title">PROVIS </span>
          </a>
        </div>
      </mat-grid-tile>
      <mat-grid-tile class="grid-content-right">
        <div class="right d-flex top-menu">
          <button mat-flat-button disableRipple=true [matMenuTriggerFor]="afterMenu" class="user-menu-button">{{userName}}</button>
          <mat-menu #afterMenu="matMenu" overlayPanelClass="test" panelClass="test" backdropClass="test" >
            <ul class="dropmenu">
              <li><a routerLink="profile">My Profile</a></li>
              <li><a (click)="modalInvites()">Invites</a></li>
              <li><a (click)="logout()">Logout</a></li>
            </ul>
          </mat-menu>
        </div>
      </mat-grid-tile>
        <!-- <div class="right">
          <ul class="d-flex top-menu">
            <li class="top-menu-li">
              <div mat-flat-button  (click)="toggleDropmenu()" class="user-menu-button">{{userName}}</div>
            </li>
            <li>
              <div *ngIf="invite" class="invite-circle"></div>
            </li>
          </ul>
        </div>
      </mat-grid-tile>
      <div *ngIf="toggle" class="drop">
        <ul>
          <li routerLink="profile"><a>My Profile</a></li>
          <li><a>Invites<div *ngIf="invite" class="invite-circle"></div></a></li>
          <li><a (click)="logout()">Logout</a></li>
        </ul>
      </div> -->
    </mat-grid-list>
  </div>
</header>
