<header class="user-header">
  <div class="nav-menu " >
    <mat-grid-list class="justify-space-between" cols="2" rowHeight="50px">
      <mat-grid-tile class="grid-content-left">
        <div class="left">
          <a href="./">
            <span class="logo-title">PROVIS </span>
          </a>
        </div>
      </mat-grid-tile>
      <mat-grid-tile class="grid-content-right">
        <div class="right">
          <ul class="d-flex top-menu">
            <li>
              <!-- <button mat-flat-button  [matMenuTriggerFor]="afterMenu" class="user-menu-button">Menu 1</button>
              <mat-menu #afterMenu="matMenu" class="dropdown-menu">
                <ul>
                  <li><a href="">My Profile</a></li>
                  <li><a href="">Invites</a></li>
                  <li><a href="">Logout</a></li>
                </ul>
              </mat-menu> -->
            </li>
            <li>
              <div mat-flat-button  (click)="toggleDropmenu()" class="user-menu-button">{{userName}}</div>
            </li>
          </ul>
        </div>
      </mat-grid-tile>
      <div *ngIf="toggle" class="drop">
        <ul>
          <li><a>My Profile</a></li>
          <li><a>Invites</a></li>
          <li><a (click)="logout()">Logout</a></li>
        </ul>
      </div>
    </mat-grid-list>
  </div>
</header>
