
  <form [formGroup]="assignForm" (ngSubmit)="assignMember()">
  <div class="member-section">
    <mat-form-field appearance="fill" class="assign-fields">
      <mat-label>Member</mat-label>
      <mat-select formControlName="userId" [(value)]="selectedMember">
        <mat-option *ngFor="let item of workspaceMembers" [value]="item" [disabled]="contains(item.id)">
          {{item.userName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="assign-fields">
      <mat-label>Role</mat-label>
      <mat-select formControlName="roleTagId" [(value)]="selectedRole">
        <mat-option *ngFor="let item of taskRoles" [value]="item">
          {{item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button class="additional" type="submit" [disabled]="!assignForm.valid">Add</button>
    </div>
  </form>

  <section *ngFor="let member of assignMembers;let i = index;" class="member-section">
    <div>

      <mat-form-field appearance="fill" class="assign-fields">
        <mat-label>Member</mat-label>
        <input matInput placeholder="Member" [value]="getUserName(member.userId)" readonly>
      </mat-form-field>

      <mat-form-field appearance="fill" class="assign-fields">
        <mat-label>Role</mat-label>
        <mat-select name="role_{{i}}" [ngModelOptions]="{standalone: true}" [(ngModel)]="member.roleTagId"
          (valueChange)="changeMemberRole(member.userId, $event)">
          <mat-option *ngFor="let item of taskRoles" [value]="item.id">
            {{item.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>
    <button mat-raised-button (click)="deAssignMember(i , member.userId)" class="warning">remove</button>
  </section>
