
<div class="home-page">
    <header>
        <div class="nav-menu">
            <mat-grid-list class="justify-space-between" cols="2" rowHeight="50px">
                <mat-grid-tile class="grid-content-left">
                    <div class="left">
                        <a href="./">
                            <span class="logo-title">PROVIS </span>
                        </a>
                    </div>
                </mat-grid-tile>
                    
                <mat-grid-tile class="grid-content-right">
                    <div class="right">
                        <ul class="d-flex ">
                            <li>
                                <a href="#" class="">About US</a>
                            </li>
                            <li>
                                <a href="#"  class="">Contact</a>
                            </li>
                            <li>
                                <a href="./login" class="">Login</a>
                            </li>
                            <li>
                                <a href="./registration" class="sign-up">Sign Up</a>
                            </li>
                        </ul>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </header>
<section>
    <div class="home-top-section d-flex">
        <h1 class="registration_title">Provis</h1>
        <p class="heading mt-30">Best Task Manager</p>
        <p class="heading">Modern, smart and extensible </p>
        <a class="button mt-30" href="./registration">Get Started</a>
        
        <div class="home-tope-section-img mt-30">

        </div>
    </div>
</section>

<section>
    <div class="features">
        <mat-grid-list class="" cols="2" rowHeight="350px">
            <mat-grid-tile class="box-img">
                <div class="features-img">
                    <img src="./home.jpg" alt="">
                </div>
            </mat-grid-tile>
                
            <mat-grid-tile class="">
                <div class="feature-text justify-start">
                    <h3 class="feature-title">Some text</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                    <button mat-raised-button color="primary" class="mt-30">Read more</button>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

</section>

</div>