<app-header></app-header>
<div class="home-page">
    
    <div class="home-top-section d-flex top-section">
        <h1 class="registration_title">Provis</h1>
        <p class="heading mt-30">Best Task Manager</p>
        <p class="heading">Modern, smart and extensible </p>
        <a class="button mt-30" href="./registration">Get Started</a>
        
        <div class="home-tope-section-img mt-30">
  
        </div>
    </div>
    




<section>
    <div class="features">
        <div class="titled">
            <span class="">Features</span>
        </div>
        <mat-grid-list class="" cols="2" rowHeight="350px">
            <mat-grid-tile class="box-img">
                <div class="features-img">
                    <img src="assets/img/3.png" alt="">
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="">
                <div class="feature-text justify-start">
                    <h3 class="feature-title">Some text</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                    <button mat-raised-button color="primary" class="mt-30">Read more</button>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</section>

<section>
    <div class="features">
        
        <mat-grid-list class="" cols="2" rowHeight="350px">
            <mat-grid-tile class="">
                <div class="feature-text justify-start">
                    <h3 class="feature-title">Some text</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <button mat-raised-button color="primary" class="mt-30">Read more</button>
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="box-img">
                <div class="features-img">
                    <img src="assets/img/2.png" alt="">
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</section>
<section>
    <div class="features">

        <mat-grid-list class="" cols="2" rowHeight="350px">
            <mat-grid-tile class="box-img">
                <div class="features-img">
                    <img src="assets/img/4.png" alt="">
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="">
                <div class="feature-text justify-start">
                    <h3 class="feature-title">Some text</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure</p>
                    <button mat-raised-button color="primary" class="mt-30">Read more</button>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</section>





<section class="testimonials">
    
    <div class="benefits">
        <div class="titled">
            <span style="color: #cdcdcd;">Benefits</span>
        </div>
        <mat-grid-list cols="3" rowHeight="300px">
        
            <mat-grid-tile>
            <div class="benefits-cart">
                <img src="assets/img/no-setup.png" alt="">
                <h3 class="feature-title mt-30">Some text</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
            </div>  
            </mat-grid-tile>
            
            <mat-grid-tile>
            <div class="benefits-cart">
                <img src="assets/img/speed.png" alt="">
                <h3 class="feature-title mt-30">Some text</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
            </div>  
            </mat-grid-tile>

            <mat-grid-tile>
            <div class="benefits-cart">
                <img src="assets/img/extensions.png" alt="">
                <h3 class="feature-title mt-30">Some text</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
            </div>  
            </mat-grid-tile>

        </mat-grid-list>
        <div class="get-started">
        
            <a class="button mt-30" href="./registration">Get Started</a>
        </div>
    </div>

</section>


<section class="">
    <div class="testimonials-block">
        <div class="titled">
            <span>Testimonials</span>
        </div>
        <mat-grid-list cols="3" rowHeight="220px">
            <mat-grid-tile>
                <div class="testimonials-cart">
                    <p class="testimonials-text">"Provis radically simplifies our daily tasks, which gives us more space to focus on what’s important."</p>
                    <div>
                        <h3 class="testimonials-author">Spiderman</h3>
                        <span class="testimonials-company">Marvel</span>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="testimonials-cart">
                    <p class="testimonials-text">"I use Provis daily for work on my clients’ projects, it helps me always deliver great product on time."</p>
                    <div>
                        <h3 class="testimonials-author">Mickey Mouse</h3>
                        <span class="testimonials-company">Disney</span>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="testimonials-cart">
                    <p class="testimonials-text">"Provis makes my life as a programmer so much easier. With live collaboration it is the ultimate for working in teams."</p>
                    <div>
                        <h3 class="testimonials-author">Crocodile Gena</h3>
                        <span class="testimonials-company">Cartoon</span>
                    </div>
                </div>
            </mat-grid-tile>

        </mat-grid-list>

    </div>



</section>




<app-footer></app-footer>






</div>