
.list-item-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.mat-list-cotainer {
    height: 150px;
    overflow-y: scroll;
}
.mat-list-item {
    cursor: pointer;
}
.mat-list-item:hover{
    background-color: rgb(235, 235, 235);
}
.mat-list-item:hover .delete-batton {
    display: inline-block;
}
.delete-batton {
    display: none;
}
.preview > img{
    width: 30px;
}
.preview{
    display: flex;
    flex: 48%;
    overflow: hidden;
    margin: 5px;
    align-items: center;
    max-width: 48%;
    justify-content: space-between;
}
.add-attachment{
    justify-content: space-between;
}
.preview-list{
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}
.preview:hover {
    background-color: rgb(235, 235, 235);
}
.preview:hover .delete-batton {
    display: inline-block;
}
.preview span{
    margin-left: 5px;
    font-size: 14px;
}
