.container {
    background: linear-gradient(0deg,#3f3c52 0%,#161518 100%);
}
.login-form {
    background: white;
    border-radius: 10px;
    width: 100%;
  }
form.login-form .mat-form-field {
    width: 100%;
    margin:5px auto;
}
.forgot-pass{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;
    padding: 0px 5px 15px;
}
.forgot-pass a{
    color: #685e9d;
}
.forgot-pass a:hover {
    color: #272e44 !important;
}
