<div class="container">
    <div class="form-section">
        <div class="form-block">
            <div class="w-100 mb-20">
                <h1 class="registration_title">PROVIS</h1>
                <p class="registration_text">Best Task Manager</p>
            </div>

                <form class="login-form" [formGroup]="loginForm" novalidate (ngSubmit)="submit()">

                    <div style="padding:30px">
                    <p class="form-title">Login</p>
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput placeholder="Your email" #Email maxlength=50 formControlName="Email" required>
                        <mat-error *ngIf="loginForm.controls['Email'].invalid && loginForm.controls['Email'].touched">Invalid email</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput  #Password maxlength=50 formControlName="Password" required>                           
                    </mat-form-field > 
                    <div class="forgot-pass">
                        <div>
                            <input type="checkbox">
                            <label>Remember me</label>
                        </div>
                        <a href="#">Forgot password?</a>
                    </div>
                    <button mat-raised-button class="w-100 font-weight-600">Sign in</button>
                </div>
                </form>

        </div>    
    </div>
</div>
