<div class="right-side-title">
  <span>Task List</span>
  <div>
      <a mat-raised-button class="link-button button-accept" (click)="modalCreateTask()">
          <mat-icon aria-hidden="false" aria-label="Example home icon">queue</mat-icon>
          <span>Create Task</span>  
      </a>
  </div>
</div>

<div class="toggle-block">
  <div class="toggle-button">
    <div (click)="accordion.openAll()">Expand All</div>
    <div (click)="accordion.closeAll()">Collapse All</div>
  </div>
</div>

<mat-accordion multi>
  <div *ngFor="let user of workspaceUserList">
    
    <app-tasklist [user]="user" [workspaceId]="workspaceId"></app-tasklist>
 
  </div>
</mat-accordion>
