.section-background-color {
    background: #ddd;
}
.container {
    margin: 0px auto 0px;
    max-width: 1200px;
    padding: 70px 0px;
}
.list{
    display: flex;
    flex-wrap: wrap;
}
mat-card {
    max-width: 270px;
    flex: 1 0 21%;
    margin: 14px;
    min-height: 140px;
    cursor: pointer;
}
mat-card:hover {
    box-shadow: 1px 3px 10px 1px rgb(136 129 137);
}
.link-button {
    padding: 0px;
    margin: 0px;
    position: fixed;
    right: 25px;
    bottom: 25px;
    height: 64px;
    width: 64px;
    border-radius: 50%;
 }
 .link-button:hover {
    box-shadow: 1px 3px 10px 1px rgb(136 129 137);
 }
 .link-button::before,
 .link-button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
 }
 .link-button::before{
     width: 5px;
     height: 25px;
    }
 .link-button::after{
    width: 5px;
    height: 25px;
    transform: translate(-50%, -50%) rotate(90deg);
}
.card {
    background: white;
    border: 1px solid #666ec3;
    padding: 0px;
}
.footer-card-block {
    font-size: 11px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 15px;
    color: #666ec3;
    font-weight: 600;
    margin-bottom: 0;
}
.header-card-block {
    background: #666ec3;
    padding: 15px 15px;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header-card-block span {
    color: #ddd;
    font-size: 12px;
}
.card-title {
    font-size: 22px;
    color: white;
}
.card-title h3 {
    min-height: 50px;
    line-height: 1.5;
    margin-bottom: 0px;
}
.mat-card-subtitle {
    margin-bottom: 0px;
}
.empty-card{
    border: 1px dashed #8d8d8d;
    background: #f1f1f1;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: #91919185;
}
.card-sub-menu{
    position: absolute;
    color: white;
    font-weight: 600;
    font-size: 20px;
    right: 10px;
    top: 5px;
}
