<section>
  <div class="container">
    <div>
      <a mat-raised-button class="link-button" color="primary" [routerLink]="['../create']">Create New</a>
    <div class="list">
      <mat-card *ngFor="let workspace of userWorkspaceList" [routerLink]="'../workspace/'+workspace.id">
        <mat-card-title>
          {{workspace.name}}
        </mat-card-title>
        <mat-card-subtitle >
          Your role: {{workspace.role}}
        </mat-card-subtitle>
      </mat-card>
    </div>
    <div>
      <a mat-raised-button class="link-button" color="primary" [routerLink]="['../workspace/create']"></a>
    </div>
  </div>
  </div>
</section>
