<section>
  <div class="container">

    <div class="list">
      <mat-card *ngFor="let workspace of userWorkspaceList">
        <mat-card-title>
          {{workspace.name}}
        </mat-card-title>
        <mat-card-subtitle>
          Your role: {{workspace.role}}
        </mat-card-subtitle>
      </mat-card>
    </div>

    <div>
      <p>Create New workspace</p>
      <a mat-raised-button class="link-button" color="primary" href="./addworkspace">Create New</a>
    </div>

  </div>
</section>