<section>
  <div class="right-side-title">
    <span> Member managment</span>
  </div>
  <div class="button-after-page-title">
    <a mat-raised-button class="link-button button-accept" (click)="modalInvites()">
      <mat-icon aria-hidden="false" aria-label="Example home icon">person_add</mat-icon>
      <span>Invite</span>
    </a>
  </div>
  <div class="user-page">
    <ul class="managment-section">
      <li *ngFor="let item of workspaceUserList">
        <div class="">
          <div class="managment-title">
            <span>{{item.userName}}</span>
          </div>
          <div>
              <mat-form-field appearance="fill">
                <mat-label>Member role</mat-label>
                <mat-select [(value)]="item.role" [disabled]="item.role == 1 || item.id == authSrvice.currentUser.id">
                  <mat-option *ngFor="let role of roles" [value]="role.nameRole"
                  (onSelectionChange)="chandeWorkspaceRole(role.roleId, item.role, item.id)"
                  [disabled]="role.nameRole=='Owner'">
                    {{role.nameRole}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        <span>
          <button [disabled]="!(userWorkspaceInfo.role == 1 && item.role != 1)" mat-raised-button class="warning" (click)="delete(item.id)">Delete</button>
        </span>
      </li>
    </ul>
  </div>
</section>
