<div class="container">
  <div class="form-section">
      <div class="form-block">
          <div class="w-100 mb-20">
            <div class="addws_form">
              <form class="addws-form" [formGroup]="addwsform" novalidate (ngSubmit)="submit()">                
                <p class="addws_form_title">Create workspace</p>
               
                <mat-form-field class="addws-name" appearance="fill">
                  <mat-label>Workspace Name</mat-label>
                  <input class="name-input" matInput placeholder="Input a name of workspace" maxlength="70" value="" formControlName="Name" required>
                </mat-form-field>

                <mat-form-field class="addws-description" appearance="fill">
                  <mat-label>Description</mat-label>
                  <textarea class="text-input" matInput placeholder="Input a description of workspace" formControlName="Description" required></textarea>
                </mat-form-field>

                <button class="w-100" mat-flat-button color="primary" >Create</button>
              </form>
        </div> 
      </div>    
  </div>
</div>
