.mat-form-field {
    width: 100%;
    margin:5px auto;
}
.createTask-form{
    max-height: 600px;
    min-width: 700px;
    max-width: 700px;
}
.mat-raised-button{
    background-color: #48537a;
    color: white;
}
.assign{
    margin-left: 61px;
}
.member-section{
    display: flex;
    align-items: center;
    align-content: center;
}
.mat-form-field-infix{
    width: 100px;
}
form button{
    margin-top:5px;
    margin-bottom: 5px;
}
.assign-fields{
    width: 240px;
    justify-content: space-between;
}