<div class="update-workspace-modal">
    <div class="container">
      <div class="setPassword_form">
        <form class="setPassword-form" [formGroup]="setPasswordForm" novalidate (ngSubmit)="submit()">

          <p class="setPassword_form_title">New Password</p>

          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput  #password maxlength=50 formControlName="Password" required>
            <mat-error class="password-error"
               *ngIf="setPasswordForm.controls['Password'].invalid &&
               setPasswordForm.controls['Password'].touched">Password is not strong enough and it must be at least 8 characters long.
            </mat-error>
          </mat-form-field >

          <mat-form-field appearance="fill">
            <mat-label>Re-type Password</mat-label>
            <input type="password" matInput  #ConfirmPassword maxlength=50 formControlName="confirmPassword" required>
            <mat-error *ngIf="setPasswordForm.controls['confirmPassword'].invalid && setPasswordForm.controls['confirmPassword'].touched &&
            setPasswordForm.controls['confirmPassword'].errors!['confirmPasswordValidator']">Please make sure your passwords match</mat-error>
          </mat-form-field>

          <button mat-raised-button color="primary" class="w-100">Add</button>

        </form>
      </div>
    </div>
  </div>
