.mat-form-field {
    width: 100%;
    margin:5px auto;
}
.editTask-form {
    margin-top: 10px;
}
.member-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.mat-form-field-infix {
    width: 100px;
}
.assign-fields {
    margin-right: 20px;
}
.form-half-input {
    display: flex;
    justify-content: space-between;
}
.form-half-input mat-form-field{
    width: 33%;
    margin: 0px;
}
.modal-button {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #3b394a;
    padding-top: 15px;
    margin-top: 15px;
}
.member-section div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.edit-task-section {
    display: flex;
    flex-direction: row;
}
.task-section {
    width: 50%;
}
.edit-task-section .task-section:last-child {
    margin-left: 15px;
    margin-top: 15px;
    padding-left: 10px;
    border-left: 2px solid #3b394a;
}
.assign-comp{
    height: 300px;
    overflow-y: auto;
    padding-right: 15px;
    margin-top: 15px;
}
.task-history-section {
    height: 35vh;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.status-block {
    height: 35vh;
}
