mat-card {
  width: 265px;
  height: 115px;
  margin: 14px;
}
.user-list {
  display: flex;
  flex-wrap: wrap;
}
.user-section {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.avatar img{
  height: 90px;
  width: 90px;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
}
.title-section {
  text-align: end;
  overflow: hidden;
  margin-left: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-shadow: 1px 2px 1px rgb(0 0 0), 0 1px 2px rgb(0 0 0);
}
.title {
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  line-height: 1;
}
.title span:first-child {
  margin-bottom: 5px;
}
.user-email {
  padding-top: 13px;
}
.user-email a{
  font-size: 12px;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}
.user-email a:hover {
  color:#ccc;
  transition: 0.3;
}
.user-role {
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  color: white;
  text-transform:capitalize;
  padding-top: 15px;
}
.user-card {
  transition: 0.3s;
}
.user-card:hover {
  box-shadow: 1px 3px 10px 1px rgb(136 129 137);
  transition: 0.3s;
}
