<div class="container">
    <div class="form-section">
        <div class="form-block">
            <div class="w-100 mb-20">
                <h1 class="registration_title">PROVIS</h1>
                <p class="registration_text">Best Task Manager</p>
            </div>

            <form class="login-form" [formGroup]="loginForm" novalidate (ngSubmit)="submit()">
                <div style="padding:30px">
                    <p class="form-title">Login</p>
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput placeholder="Your email" #email maxlength=50 formControlName="email" required>
                        <mat-error *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">Invalid email</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput  #password maxlength=50 formControlName="password" required>
                    </mat-form-field >
                    <div class="forgot-pass">
                        <div>
                            <input type="checkbox">
                            <label>Remember me</label>
                        </div>
                        <a href="#">Forgot password?</a>
                    </div>
                    <button mat-raised-button class="w-100 font-weight-600">Sign in</button>
                    <div class="back-link">
                        <a href="./"><span class="material-icons">navigate_before</span>
                            Home
                        </a>
                        <a href="./registration">Registration
                            <span class="material-icons">navigate_next</span>
                        </a>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
