<header class="user-header">
  <div class="nav-menu " >
    <mat-grid-list class="justify-space-between" cols="2" rowHeight="50px">
      <mat-grid-tile class="grid-content-left">
        <div class="left">
          <a href="./">
            <span class="logo-title">PROVIS </span>
          </a>
        </div>
      </mat-grid-tile>
      <mat-grid-tile class="grid-content-right">
        <div class="right d-flex top-menu">
          <div class="user-menu-buttons">
            <a [routerLink]="'/user/workspaces'">
              <span>Workspace list</span>
            </a>
          </div>
          <div class="user-menu-buttons">
            <button mat-flat-button disableRipple=true [matMenuTriggerFor]="afterMenu" >
              <div>
                {{userName}}<div *ngIf="invite" class="invite-circle"></div>
              </div>
            </button>
          </div>
          <mat-menu #afterMenu="matMenu" overlayPanelClass="user-menu" panelClass="user-menu" backdropClass="user-menu" >
            <ul class="dropmenu">
              <li><a routerLink="profile">My Profile</a></li>
              <li><a (click)="modalInvites()">Invites<div *ngIf="invite" class="invite-circle"></div></a></li>
              <li><a (click)="logout()">Logout</a></li>
            </ul>
          </mat-menu>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</header>
