/* You can add global styles to this file, and also import other style files */

body {
    background-image: url("..//src/Preventive-Maintenance.jpg");
    font-family: 'Montserrat', sans-serif;
}


.maintenance {
    display: flex;
    align-items: center;
    justify-content: right; 
    font-size: 60px; 
    font-weight: bold;
    margin-right: 2em;
    color: #2B2C40;
    -webkit-text-stroke: 0.5px white;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
