/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body { 
    margin: 0;  
}
body * {
    font-family: 'Montserrat', sans-serif !important;
}
.w-100{
    width: 100%;
}
.h-100{
    height: 100%;
}
.mb-20 {
    margin-bottom: 20px;
}
.mt-30{
    margin-top: 30px !important;
}
.d-flex{
    display: flex;
}
.d-inline{
    display: inline-flex;
}
.justify-space-between {
    justify-content: space-between;
}
.justify-end {
    justify-content: flex-end;
}
.justify-start {
    justify-content: flex-start;
}
.grid-content-right .mat-grid-tile-content{
    justify-content: flex-end;
}
.grid-content-left .mat-grid-tile-content{
    justify-content: flex-start;
}
.grid-align-start .mat-grid-tile-content{
    align-items: flex-start;
}
.overflow-initial {
    overflow: initial !important;
}
.registration_title {
    font-size: 60px !important;
    font-weight: 800 !important;
    letter-spacing: 1.5px !important;
    color: white;
    text-align: center;
    text-shadow: 0px 3px 0px #6e67a9, 0px 14px 10px rgb(0 0 0 / 15%), 0px 24px 2px rgb(0 0 0 / 10%), 0px 34px 30px rgb(0 0 0 / 10%);
    line-height: 1 !important;
}
.registration_text {
    padding-top: 5px;
    font-size: 14px;
    color: white;
    text-align: center;
}
button {
    text-transform: uppercase;
    font-weight: 600 !important;
    /* background-color: #685e9d !important; */
    background-color: #363446 !important;
    
    letter-spacing: 1px;
}


button:hover {
    background-color: #48537a !important;
}
.top-section, .footer{
    background: linear-gradient(0deg,#3f3c52 0%,#161518 100%);
    padding-bottom: 70px;
}
a {
    text-decoration: none;
}
.nav-menu a, .home-top-section a, .benefits a, .footer a{
    margin: 7px 0;
    padding: 0 20px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    line-height: 36px;
    display: block;
    position: relative;
 
    transition: 0.3s;
    opacity: 0.75;
    letter-spacing: 1px;
}
.nav-menu li .footer li{
    list-style-type: none;
    padding: 10px 0;
}
.nav-menu ul, .footer ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
    overflow: hidden;
}
.sign-up, .home-top-section a.button, .benefits a.button {
    box-shadow: inset 0 0 0 #fff;
    border: 1px solid rgba(255,255,255,.25);
    border-radius: 4px;
    transition: 0.3s;
}

a.sign-up:hover, .home-top-section a.button:hover, .benefits a.button:hover {
    color: #202020 !important;
    -webkit-box-shadow: inset 0 -36px 0 #fff;
    box-shadow: inset 0 -36px 0 #fff;
    opacity: 1;
}
.features, .benefits, .testimonials-block, .footer-block{
    margin: 0px auto 0px;
    max-width: 1200px;
    padding: 70px 0px;
}
.form-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-title {
    font-weight: 600;
    text-align: center;
    font-size: 28px;
    padding-bottom: 20px;
    color: #685e9d;
}
.form-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 480px;
    padding: 70px 0;
    width: 100%;
}
form.register-form {
    background: white;
    border-radius: 10px;
    width: 100%;
  }
a.link-button{
    /* background-color: #685e9d !important; */
    background-color: #585570 !important;
    text-transform: uppercase;
    font-weight: 600 !important;
    letter-spacing: 1px;
}
a.link-button:hover{
    background-color: #48537a !important;
}