/* You can add global styles to this file, and also import other style files */

body {
    background-image: url("..//src/Preventive-Maintenance.jpg");
    font-family: 'Montserrat', sans-serif;
}


.maintenance {
    display: flex;
    align-items: center;
    justify-content: right; 
    font-size: 60px; 
    font-weight: bold;
    margin-right: 2em;
    color: #2B2C40;
    -webkit-text-stroke: 0.5px white;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
div.register-form-container{
    width:600px;
    margin:0 auto;
    padding:20px;
    background: white;
    border:2px solid black;
    border-radius: 5px;
}
div.form-group label{
    display: block;
}

div.form-group input.form-control{
    width:100%;
    padding:5px;
}
div.form-group{
    margin:10px 0;
}