<app-header></app-header>

<div class="about-page">

  <div class="about-top-section d-flex top-section">
      <div class="title-info">
          <h1 class="registration_title">About Us</h1>
      </div>
  </div>

  <div class="about-content-section">

    <section class="about-section">
      <div class="titled">
        <span class="">Provis</span>
      </div>
      <div class="feature-text justify-start">
        <p>While we absolutely love productivity software, we believe productivity, in general, is broken. 
          There's just too many tools to keep track of, too many things in entirely separate ecosystems.</p>
        <p>There has to be a better way to work - that's why we created Provis as a way to realize our 
          vision of making the world more productive.</p>
      </div>
    </section>

    <section class="about-section">
      <div>
          <mat-grid-list cols="2" rowHeight="350px">
              <mat-grid-tile class="box-img">
                  <div class="about-img">
                      <img src="assets/img/about3.jpeg" alt="">
                  </div>
              </mat-grid-tile>
              <mat-grid-tile>
                  <div class="about-text text-left justify-start">
                      <h3 class="feature-title">About team</h3>
                      <p>We are a young team, we are from different cities, we have different education, 
                        but we are united by one goal – to become great developers.</p>
                      <p>We have known each other only for three months, but despite this we are choosing,
                        planning, and starting the development of our project. Many of used technologies 
                        and frameworks were new for us, and we spent a lot of time at the beginning to 
                        investigate them. Also nobody worked with SCRUM before. However we have done a great
                        job, and you will see it from the first minutes in our application.</p>
                      <p>We are using many technologies, such as: Angular, C#, Entity Framework, SQL, ASP.NET,
                        GIT, Azure. We have done this project, despite the fact that it was new to us.</p>
                  </div>
              </mat-grid-tile>
          </mat-grid-list>
      </div>
    </section>

    <section class="about-section">
      <div>
          <mat-grid-list cols="2" rowHeight="350px">
            <mat-grid-tile>
              <div class="about-text text-right justify-start">
                <h3 class="feature-title">About our product</h3>
                <p>In my country there is a problem with small business, caused by problems with management. 
                  Company owners don't want to spend money for managers, justifying this by the fact that 
                  their company isn't so big, and all employers can manage their job on their own. And as a
                  rule, that strategy leads to chaos, and total misunderstanding between owners and employees.</p>
                <p>Our goal is to have all work live in Provis, while simplifying the application as much as 
                  possible, with retaining all the functionality - thereby making people more productive and 
                  giving back at least 15% of time to dedicate to other things.</p>
                <p>With our system you can comfortably: delegate, comment tasks, follow up on assignments, 
                  keep track of deadlines. Also it allows you to observe the efficiency of employees, better 
                  understand how much time a specific task takes. Based on this knowledge you will plan your 
                  business better in the future. This is the least that Provis can propose you.</p>
              </div>
            </mat-grid-tile>
            <mat-grid-tile class="box-img">
                <div class="about-img">
                    <img src="assets/img/product.jpeg" alt="">
                </div>
            </mat-grid-tile>
          </mat-grid-list>
      </div>
    </section>

    <section class="about-top-section bottom-section d-flex">
        <div class="about-section">
          <div class="titled">
              <span>Let's start</span>
            </div>
            <div class="bottom-section-text">
              <p>We hope that you are ready to start the new era of your business. After using Provis, you won't 
                be able to return to your previous way of managing. Good luck!</p>
              <a class="button mt-30" href="./registration">Get Started</a>
            </div>
          </div>

    </section>

  </div>
</div>
<app-footer></app-footer>
