<app-header></app-header>

<div class="about-page">

  <div class="about-top-section d-flex top-section">
      <div class="title-info">
          <h1 class="registration_title">About Us</h1>
      </div>
  </div>

  <div class="about-content-section">

    <section class="about-section">
      <div class="titled">
        <span class="">Some title</span>
      </div>
      <div class="feature-text justify-start">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
      </div>
    </section>

    <section class="about-section">
      <div>
          <mat-grid-list cols="2" rowHeight="350px">
              <mat-grid-tile class="box-img">
                  <div class="about-img">
                      <img src="assets/img/about3.jpeg" alt="">
                  </div>
              </mat-grid-tile>
              <mat-grid-tile>
                  <div class="about-text text-left justify-start">
                      <h3 class="feature-title">About team</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  </div>
              </mat-grid-tile>
          </mat-grid-list>
      </div>
    </section>

    <section class="about-section">
      <div>
          <mat-grid-list cols="2" rowHeight="350px">
            <mat-grid-tile>
              <div class="about-text text-right justify-start">
                <h3 class="feature-title">About our product</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </mat-grid-tile>
            <mat-grid-tile class="box-img">
                <div class="about-img">
                    <img src="assets/img/product.jpeg" alt="">
                </div>
            </mat-grid-tile>
          </mat-grid-list>
      </div>
    </section>

    <section class="about-top-section bottom-section d-flex">
        <div class="about-section">
          <div class="titled">
              <span>Some title</span>
            </div>
            <div class="bottom-section-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <a class="button mt-30" href="./registration">Get Started</a>
            </div>
          </div>

    </section>

  </div>
</div>
<app-footer></app-footer>
