<div class="user-left-side">
  <div class="left-side-title">
    {{userWorkspaceInfo.name}}
  </div>
  <div class="left-side-user-role">
    Role: {{roleName}}
  </div>
  <div class="user-left-menu">
    <ul>
      <li>
        <ul class="group-menu">
          <li *appIfUserRoles='[1,2]' class="menu-item">
              <a [routerLink]="'/user/workspace/' + userWorkspaceInfo.id + '/managment/'">
              <mat-icon aria-hidden="false" aria-label="Example home icon">manage_accounts</mat-icon>
              <span>Member Management</span>
            </a>
          </li>
          <li class="menu-item">
            <a [routerLink]="'/user/workspace/' + userWorkspaceInfo.id + '/memberlist/'">
              <mat-icon aria-hidden="false" aria-label="Example home icon">group</mat-icon>
              <span>Members List</span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <ul class="group-menu">
          <li class="menu-item task-list-item">

            <a (click)="showTasks()">
              <mat-icon *ngIf="isUseSprint && !isShowSprintList">arrow_right</mat-icon>
              <mat-icon *ngIf="isUseSprint && isShowSprintList">arrow_drop_down</mat-icon>
              <mat-icon aria-hidden="false" aria-label="Example home icon" *ngIf="!isUseSprint">list_alt</mat-icon>
              <span>{{(isUseSprint) ? 'Sprint List': 'Task List'}}</span>
            </a>

            <div *appIfUserRoles="[1, 2]">
              <mat-icon *ngIf="isUseSprint"
              aria-hidden="false"
              aria-label="Example home icon" class="add-sprint"
              (click) = "showAddSprint()">
                add_circle_outline
              </mat-icon>
            </div>
          </li>

            <ul class="group-menu">
              <cdk-virtual-scroll-viewport *ngIf="isShowSprintList" itemSize="2">
                <li class="menu-item sub-menu-item task-list-item" *cdkVirtualFor="let item of sprintList">
                  <a (click)="regirectToSprint(item.id)">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">bar_chart</mat-icon>
                    <span>{{ item.name }}</span>
                  </a>

                  <div *appIfUserRoles="[1, 2]">
                    <mat-icon *ngIf="isUseSprint"
                    aria-hidden="false"
                    aria-label="Example home icon" class="add-sprint"
                    (click) = "showUpdateSprint(item.id)">
                      edit
                    </mat-icon>
                  </div>
                </li>
            </cdk-virtual-scroll-viewport>
            </ul>

          <li class="menu-item" (click)="modalCreateTask()">
            <a>
              <mat-icon aria-hidden="false" aria-label="Example home icon">queue</mat-icon>
              <span>Create Task</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item">
        <a [routerLink]="'/user/workspace/' + userWorkspaceInfo.id + '/calendar'">
          <mat-icon aria-hidden="false" aria-label="Example home icon">calendar_month</mat-icon>
          <span>Calendar</span>
        </a>
      </li>
      <ul class="group-menu">
        <li class="menu-item">
          <a [routerLink]="'/user/workspace/' +userWorkspaceInfo.id + '/info'">
            <mat-icon aria-hidden="false" aria-label="Example home icon">info</mat-icon>
            <span>Workspace info</span>
          </a>
        </li>
        <li *appIfUserRoles='[1]' class="menu-item">
          <a [routerLink]="'/user/workspace/' + userWorkspaceInfo.id + '/settings'">
            <mat-icon aria-hidden="false" aria-label="Example home icon">admin_panel_settings</mat-icon>
            <span>Workspace settings</span>
          </a>
        </li>
      </ul>
    </ul>
  </div>
</div>
