<div class="user-left-side">
  <div class="left-side-title">
    {{userWorkspaceInfo.name}}
  </div>
  <div class="left-side-user-role">
    Role: {{roleName}}
  </div>
  <div class="user-left-menu">
    <ul>
      <li>
        <ul class="group-menu">
          <li *appIfUserRoles='[1,2]' class="menu-item">
              <a [routerLink]="'/user/workspace/' + userWorkspaceInfo.id + '/managment/'">
              <mat-icon aria-hidden="false" aria-label="Example home icon">manage_accounts</mat-icon>
              <span>Member Management</span>
            </a>
          </li>
          <li class="menu-item">
            <a [routerLink]="'/user/workspace/' + userWorkspaceInfo.id + '/memberlist/'">
              <mat-icon aria-hidden="false" aria-label="Example home icon">group</mat-icon>
              <span>Members List</span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <ul class="group-menu">
          <li class="menu-item">
            <a [routerLink]="'/user/workspace/' + userWorkspaceInfo.id + '/tasklist'">
              <mat-icon aria-hidden="false" aria-label="Example home icon">list_alt</mat-icon>
              <span>Task List</span>
            </a>
          </li>
          <li class="menu-item" (click)="modalCreateTask()">
            <a>
              <mat-icon aria-hidden="false" aria-label="Example home icon">queue</mat-icon>
              <span>Create Task</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item">
        <a [routerLink]="'/user/workspace/' + userWorkspaceInfo.id + '/calendar'">
          <mat-icon aria-hidden="false" aria-label="Example home icon">calendar_month</mat-icon>
          <span>Calendar</span>
        </a>
      </li>
      <ul class="group-menu">
        <li class="menu-item">
          <a [routerLink]="'/user/workspace/' +userWorkspaceInfo.id + '/info'">
            <mat-icon aria-hidden="false" aria-label="Example home icon">info</mat-icon>
            <span>Workspace info</span>
          </a>
        </li>
        <li *appIfUserRoles='[1]' class="menu-item">
          <a [routerLink]="'/user/workspace/' + userWorkspaceInfo.id + '/settings'">
            <mat-icon aria-hidden="false" aria-label="Example home icon">admin_panel_settings</mat-icon>
            <span>Workspace settings</span>
          </a>
        </li>
      </ul>
    </ul>
  </div>
</div>
