<div class="container">
  <div class="form-section">
      <div class="form-block">
          <div class="w-100 mb-20">
              <h1 class="registration_title">PROVIS</h1>
              <p class="registration_text">Best Task Manager</p>
          </div>

          <form class="login-form" [formGroup]="forgotPasswordForm" novalidate (ngSubmit)="submit()">
            <div>
                <p class="form-title">Password recovery</p>
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="Your email" #email maxlength=50 formControlName="email" required>
                    <mat-error *ngIf="forgotPasswordForm.controls['email'].invalid && forgotPasswordForm.controls['email'].touched">Invalid email</mat-error>
                </mat-form-field>
                <button mat-raised-button class="w-100 font-weight-600">Recovery</button>

                <div class="back-link">
                    <a href="./"><span class="material-icons">navigate_before</span>
                        Home
                    </a>
                    <a href="./login">Login
                        <span class="material-icons">navigate_next</span>
                    </a>
                </div>
            </div>
          </form>
      </div>
  </div>
</div>
