<div class="invite-modal">
  <div class="modal-title">
    <span>Invitation</span>
  </div>
  <div class="example-container">
    <form class="register-form" [formGroup]="inviteUserForm" novalidate (ngSubmit)="Invite()">
      <mat-form-field class="send-email" appearance="fill">
        <mat-label>Email</mat-label>
        <input  type="email" matInput placeholder="Your email" maxlength=50 formControlName="UserEmail"> 
        <mat-error *ngIf="inviteUserForm.controls['UserEmail'].invalid && inviteUserForm.controls['UserEmail'].touched">Invalid email</mat-error>
      </mat-form-field>
      <button class="button-send button-accept" mat-raised-button color="Primary" (onClick)='Invite()'>Send</button>      
    </form>
    <div class="modal-title active-invitation">
      <span>Active invitations</span>
    </div>
    <div class="invite-list" *ngIf="workspaceActiveInviteInfo.length !=0; else noInvitations"> 
      <div *ngFor="let item of workspaceActiveInviteInfo" class="invitations-message">
        <div class="active-invite">
         <div class="info-invite">
           <div class="email-info">
             <span>{{item.toUserEmail}}</span>
             <span class="data-info">{{item.date |date:'dd.MM.yyyy HH:mm'}}</span>
           </div>
           <div class="touser-info">
              From<span class="toUserColor"> {{item.fromUserName}} </span>
              to<span class="toUserColor"> {{item.toUserName}}</span>
           </div>
          </div>
          <div *ngIf="IsThereAccess(item)">
            <button class="warning" mat-raised-button color="Primary" (click)='DeleteInvite(item.inviteId)'>
              Delete
            </button>
          </div>
        </div>
      </div>
    </div> 
    <ng-template #noInvitations>
    <div class="noInvitations">
      <p>You have no active invitations</p>
    </div>
    </ng-template>
  </div>
</div>
