/* 
.user-left-section{
    width: 250px;
}
.user-right-section{
    width: 100%;
}
.both-section {
    box-shadow: 1px 3px 10px 1px rgb(136 129 137);
    border: 1px solid #7a778d;
    margin: 5px;
    border-radius: 5px;
    padding: 30px 15px;
    background: #ddd;
}
.user-section{
    display: flex;
    height: calc(100vh - 73px);
    width: 100vw;
    color: #3b394a;
} */




