<div class="container">
    <div class="form-section">
            <div class="form-block">
                <div class="w-100 mb-20">
                    <h1 class="registration_title">PROVIS</h1>
                    <p class="registration_text">Best Task Manager</p>
                </div>

                <div>
                    <form class="register-form" [formGroup]="registerForm" novalidate (ngSubmit)="submit()">
                        <div style="padding: 30px">
                            <p class="form-title">Registration</p>
                            <mat-form-field hintLabel="Max 50 characters" appearance="fill">
                                <mat-label>Name</mat-label>
                                <input type="text" matInput placeholder="Your name" #Name maxlength=50 formControlName="Name" required>
                                <mat-error *ngIf="registerForm.controls['Name'].invalid && registerForm.controls['Name'].touched">Invalid name</mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Surname</mat-label>
                                <input type="text" matInput placeholder="Your surname" #Surname maxlength=50 formControlName="Surname" required>
                                <mat-error *ngIf="registerForm.controls['Surname'].invalid && registerForm.controls['Surname'].touched">Invalid surname</mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Username</mat-label>
                                <input type="text" matInput placeholder="Your username" #Username maxlength=50 formControlName="Username" required>
                                <mat-error *ngIf="registerForm.controls['Username'].invalid && registerForm.controls['Username'].touched">Invalid username</mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Email</mat-label>
                                <input type="email" matInput placeholder="Your email" #Email maxlength=50 formControlName="Email" required>
                                <mat-error *ngIf="registerForm.controls['Email'].invalid && registerForm.controls['Email'].touched">Invalid email</mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Password</mat-label>
                                <input type="password" matInput  #Password maxlength=50 formControlName="Password" required>
                                <mat-error class="password-error" *ngIf="registerForm.controls['Password'].invalid && registerForm.controls['Password'].touched">Password is not strong enough and it must be at least 8 characters long. </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Re-type Password</mat-label>
                                <input type="password" matInput  #ConfirmPassword maxlength=50 formControlName="ConfirmPassword" required>
                                <mat-error *ngIf="registerForm.controls['ConfirmPassword'].invalid && registerForm.controls['ConfirmPassword'].touched &&
                                registerForm.controls['ConfirmPassword'].errors!['confirmPasswordValidator']">Please make sure your passwords match</mat-error>
                            </mat-form-field>
                            <button mat-raised-button class="w-100 font-weight-600">Register</button>
                            <div class="back-link">
                                <a href="./"><span class="material-icons">navigate_before</span>
                                    Home
                                </a>
                                <a href="./login">Login
                                    <span class="material-icons">navigate_next</span>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>
