.container {
    background: linear-gradient(0deg,#3f3c52 0%,#161518 100%);
}

.confirm_form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form.confirm-form {
    min-width: 150px;
    max-width: 420px;
    background: white;
    border-radius: 10px;
    padding: 30px;
    width: 100%;
}
  
form.confirm-form .mat-form-field {
    width: 100%;
}

.backdown{
    color: white;
}
